---
import AboutMe from "../components/AboutMe";
import Background from "../components/Background.astro";
import Dock from "../components/Dock";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    class="relative flex justify-center items-center flex-col overflow-hidden mx-auto bg-black"
  >
    <Background />
    <Hero />
    <AboutMe client:load />
    <Dock />
  </main>
</Layout>
