---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.astro";
---

<Layout>
  <main
    class="relative flex justify-center items-center flex-col overflow-hidden mx-auto bg-black"
  >
    <Background />
    <Hero />
  </main>
</Layout>
