---
import "../styles/global.css";

const UMAMI_WEBSITE_ID = import.meta.env.PUBLIC_UMAMI_WEBSITE_ID;
const UMAMI_SRC = import.meta.env.PUBLIC_UMAMI_SRC;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    {
      UMAMI_WEBSITE_ID && UMAMI_SRC && (
        <script defer src={UMAMI_SRC} data-website-id={UMAMI_WEBSITE_ID} />
      )
    }

    <meta name="generator" content={Astro.generator} />
    <title>Mark Knotzer</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
